.content {
    margin-bottom: 555px;
}

.content a {
    font-family: Arial, Helvetica, sans-serif;
    color: #418534;
    text-decoration: none;
    text-align: center;
}

.content h1 {
    text-align: center;
}